:root {
    --content-primary: #fff;
    --content-secondary: #98959d;
    --content-tertiary: #666666;
    --content-brand: #9282fa;

    --background-primary: #151515;
    --background-secondary: #1e1e1e;
    --background-tertiary: #23242c;
    --background-brand: #9282fa;
    --background-highlights: #bdb4fa;

    --border-primary: #3e3c41;
    --border-secondary: #86818c;
    --border-brand: #9282fa;
    --border-divisor: #353339;

    --accent-blue: #027df0;
    --accent-blue-light: #16487a;
    --accent-yellow: #f0dc02;
    --accent-yellow-light: #756e1b;
    --accent-orange: #f09102;
    --accent-orange-light: #75501b;

    --font-title: 700 1.5rem/2rem 'Inter Tight', sans-serif;

    --paragraph-medium: 500 0.875rem/1.5rem 'Inter', sans-serif;
    --paragraph-small: 500 0.75rem/1rem 'Inter', sans-serif;

    --label-large: 700 1rem/1.5rem 'Inter', sans-serif;
    --label-medium: 700 0.875rem/1.5rem 'Inter', sans-serif;
    --label-small: 700 0.75rem/1rem 'Inter', sans-serif;
    
    --link: 500 0.75rem/1rem 'Inter', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 100%;
    min-height: 100dvh;
}
