:root {
    --content-primary: #fff;
    --content-title: #f5f4f5;
    --content-secondary: #98959d;
    --content-tertiary: #666666;
    --content-brand: #9282fa;

    --background-body:#14151d;
    --background-logo: #2e2c30;
    --background-primary: #151515;
    --background-secondary: #1e1e1e;
    --background-tertiary: #23242c;
    --background-brand: #9282fa;
    --background-highlights: #bdb4fa;

    --border-primary: #3e3c41;
    --border-secondary: #86818c;
    --border-brand: #9282fa;
    --border-divisor: #353339;

    --color-text-button:#050505;

    --accent-blue: #027df0;
    --accent-blue-light: #16487a;
    --accent-yellow: #f0dc02;
    --accent-yellow-light: #756e1b;
    --accent-orange: #f09102;
    --accent-orange-light: #75501b;

    --font-title: 700 1.5rem/2rem 'Inter Tight', sans-serif;
    --font-logo: 700 1rem/1.5rem 'Familjen Grotesk', sans-serif;

    --paragraph-medium: 500 0.875rem/1.5rem 'Inter', sans-serif;
    --paragraph-small: 500 0.75rem/1rem 'Inter', sans-serif;

    --label-large: 700 1rem/1.5rem 'Inter', sans-serif;
    --label-medium: 700 0.875rem/1.5rem 'Inter', sans-serif;
    --label-small: 700 0.75rem/1rem 'Inter', sans-serif;
    
    --link: 500 0.75rem/1rem 'Inter', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 100%;
    min-height: 100dvh;
    background-color: var(--background-body);
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 9.625rem;
    height: 3rem;
    background-color: var(--background-logo);
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo span {
    font: var(--font-logo);
    color: var(--content-brand);
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.75rem 1.25rem;
    gap: 2rem;
}

.schedule-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.schedule-title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.schedule-title h1 {
    font: var(--font-title);
    color: var(--content-title);
}

.schedule-title p {
    font: var(--paragraph-medium);
    color: var(--content-tertiary);
}

.calendar {
    width: fit-content;
}

.calendar-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-primary);
    padding: 0.75rem;
    width: fit-content;
    height: 3rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
}

.select-date {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    font: 400 1rem/1.5 'Inter', sans-serif;
    color: var(--content-secondary);
}

.select-date::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    width: 98%;
    position: absolute;
    left: 0;
}

.select-date::-moz-calendar-picker-indicator {
    display: none;
}

footer {
    margin: 0 auto;
    width: 100vw;
    height: 5.24rem;
    background-color: var(--background-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button{
    font: var(--label-large);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--background-brand);
    color: var(--color-text-button);
}
