:root {
    --content-primary: #fff;
    --content-title: #f5f4f5;
    --content-secondary: #98959d;
    --content-tertiary: #666666;
    --content-brand: #9282fa;

    --background-body:#14151d;
    --background-logo: #2e2c30;
    --background-primary: #151515;
    --background-secondary: #1e1e1e;
    --background-tertiary: #23242c;
    --background-brand: #9282fa;
    --background-highlights: #bdb4fa;

    --border-primary: #3e3c41;
    --border-secondary: #86818c;
    --border-brand: #9282fa;
    --border-divisor: #353339;

    --color-text-button:#050505;

    --accent-blue: #027df0;
    --accent-blue-light: #16487a;
    --accent-yellow: #f0dc02;
    --accent-yellow-light: #756e1b;
    --accent-orange: #f09102;
    --accent-orange-light: #75501b;

    --font-title: 700 1.5rem/2rem 'Inter Tight', sans-serif;
    --font-logo: 700 1rem/1.5rem 'Familjen Grotesk', sans-serif;

    --paragraph-medium: 500 0.875rem/1.5rem 'Inter', sans-serif;
    --paragraph-small: 500 0.75rem/1rem 'Inter', sans-serif;

    --label-large: 700 1rem/1.5rem 'Inter', sans-serif;
    --label-medium: 700 0.875rem/1.5rem 'Inter', sans-serif;
    --label-small: 700 0.75rem/1rem 'Inter', sans-serif;
    
    --link: 500 0.75rem/1rem 'Inter', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--background-body);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background-logo);
    width: fit-content;
    padding: 0.75rem 1.25rem;
    border-bottom-right-radius: 0.75rem;
    cursor: pointer;
}

.logo span {
    font: var(--font-logo);
    color: var(--content-brand);
}

main {
    padding: 0.75rem 1.25rem;
    flex: 1;
}

.main-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.main-information h1 {
    font: var(--font-title);
    color: var(--content-title);
}

.main-information p {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
}

.filter-date {
   
}

.wrapper-button {
    background-color: var(--background-tertiary);
    text-align: center;
    padding: 1.13rem 1.25rem;
}

.new-schedule {
    font: var(--label-large);
    color: var(--color-text-button);
    background-color: var(--background-brand);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 40px 0 rgba(146, 130, 250, 0.30);
}

@media(width >= 48rem) {
}

@media(width >= 67.875rem) {
}
