:root {
    --content-primary: #fff;
    --content-title: #f5f4f5;
    --content-secondary: #98959d;
    --content-tertiary: #666666;
    --content-brand: #9282fa;

    --background-body:#14151d;
    --background-logo: #2e2c30;
    --background-primary: #151515;
    --background-secondary: #1e1e1e;
    --background-tertiary: #23242c;
    --background-brand: #9282fa;
    --background-highlights: #bdb4fa;

    --border-primary: #3e3c41;
    --border-secondary: #86818c;
    --border-brand: #9282fa;
    --border-divisor: #353339;

    --color-text-button:#050505;

    --accent-blue: #027df0;
    --accent-blue-light: #16487a;
    --accent-yellow: #f0dc02;
    --accent-yellow-light: #756e1b;
    --accent-orange: #f09102;
    --accent-orange-light: #75501b;

    --font-title: 700 1.5rem/2rem 'Inter Tight', sans-serif;
    --font-logo: 700 1rem/1.5rem 'Familjen Grotesk', sans-serif;
    --font-input: 400 1rem/1.5rem 'Inter', sans-serif;

    --paragraph-medium: 500 0.875rem/1.5rem 'Inter', sans-serif;
    --paragraph-small: 500 0.75rem/1rem 'Inter', sans-serif;

    --label-large: 700 1rem/1.5rem 'Inter', sans-serif;
    --label-medium: 700 0.875rem/1.5rem 'Inter', sans-serif;
    --label-small: 700 0.75rem/1rem 'Inter', sans-serif;
    
    --link: 500 0.75rem/1rem 'Inter', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--background-body);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background-logo);
    width: fit-content;
    padding: 0.75rem 1.25rem;
    border-bottom-right-radius: 0.75rem;
    cursor: pointer;
}

.logo span {
    font: var(--font-logo);
    color: var(--content-brand);
}

main {
    padding: 0.75rem 1.25rem;
    flex: 1;
}

.main-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.main-information h1 {
    font: var(--font-title);
    color: var(--content-title);
}

.main-information p {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
}

.schedule-search {
    width: fit-content;
    border: 1px solid var(--border-primary);
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    position: relative;

    &:hover {
        border-color: var(--border-secondary);
    }

    &:focus, &:focus-within {
        border-color: var(--content-brand);
    }
}

.schedule-search img {
    width: 1.25rem;
    height: 1.25rem;
}

.filter-date {
    font: 400 1rem/1.5rem 'Inter', sans-serif;
    color: var(--content-secondary);
    background-color: transparent;

    &::-webkit-calendar-picker-indicator {
        background-color: blue;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        left: 0;
        cursor: pointer;
    }
}

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.morning-hour, .afternoon-hour, .evening-hour {
    background-color: var(--background-tertiary);
    padding: 0.75rem 1.25rem;
    border-radius: 0.63rem 0.63rem 0 0;
    border-bottom: 1px solid #2e2c30;
}

.morning-header, .afternoon-header, .evening-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #2e2c30;
}

.morning-header span, .afternoon-header span, .evening-header span {
    flex: 1;
    font: var(--label-large);
    color: var(--content-primary);
}

.morning-header small, .afternoon-header small, .evening-header small {
    font: var(--label-large);
    color: var(--content-secondary);
}

.clients {
    background-color: var(--background-tertiary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.client {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.client-description {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    font: var(--paragraph-medium);
    color: var(--content-secondary);
    
}

.hour, .pet-name {
    font: var(--label-medium);
    color: var(--content-primary);
}

.client-name, .activity {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
}

.delete-client {
    text-align: end;
    font: var(--paragraph-small);
    background-color: transparent;
    color: var(--content-tertiary);
    cursor: pointer;

    &:hover {
        color: var(--content-primary);
    }
}

.wrapper-button {
    background-color: var(--background-tertiary);
    text-align: center;
    padding: 1.13rem 1.25rem;
}

.new-schedule {
    font: var(--label-large);
    color: var(--color-text-button);
    background-color: var(--background-brand);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 40px 0 rgba(146, 130, 250, 0.30);

    &:hover {
        background-color: var(--background-highlights);
    }
}

.modal {
    background-color: var(--background-tertiary);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 29.75rem;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(12px);
    }
}

.modal label {
    display: block;
}

.modal-close {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    right: 0;
}

.modal-close img {
    width: 2.25rem;
    height: 2.25rem;
}

.modal-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1.75rem;
}

.modal-header h1 {
    font: var(--font-title);
    color: var(--content-title);
}

.modal-header p {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.form-group label {
    font: var(--label-medium);
    color: var(--content-primary);
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 0.5rem;
    padding: 0.75rem;

    &:hover {
        border-color: var(--border-secondary);
    }

    &:focus, &:focus-within {
        border-color: var(--border-brand);
    }
}

.input-wrapper img {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}

.input-wrapper input {
    flex: 1;
    font: var(--font-input);
    color: var(--content-primary);
    background-color: transparent;
    border: none;

    &::placeholder {
        color: var(--content-tertiary);
    }
}

.form-group textarea {
    font: var(--font-input);
    color: var(--content-primary);
    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    resize: none;

    &::placeholder {
        color: var(--content-tertiary);
    }

    &:hover {
        border-color: var(--border-secondary);
    }

    &:focus, &:focus-within {
        border-color: var(--border-brand);
    }
}

.date-time-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date-time-wrapper .date-wrapper, .hour-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--border-primary);
    padding: 0.75rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;

    &:hover {
        border-color: var(--border-secondary);
    }

    &:focus, &:focus-within {
        border-color: var(--border-brand);
    }
}

.date-time-wrapper .date-wrapper input, .hour-wrapper input {
    flex: 1;
    background-color: transparent;
    font: var(--font-input);
    color: var(--content-primary);

    &::-webkit-calendar-picker-indicator {
        position: absolute;
        background-color: blue;
        width: 100%;
        height: 100%;
        opacity: 0;
        right: 0;
        cursor: pointer;
    }
}

.modal-actions {
    display: flex;
    gap: 0.75rem;
    justify-content: end;
    margin-top: 1.7rem;
}

.btn-submit {
    font: var(--label-large);
    color: var(--color-text-button);
    background-color: var(--background-brand);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--background-highlights);
    }
}

@media(width >= 53.25rem) {
    main {
        padding: 5rem;
    }
    
    .main-layout {
        max-width: 53.25rem;
        margin: 0 auto;
    }
    
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .date-time-wrapper {
        flex-direction: row;
    }

    .date-time-wrapper .form-group {
        flex: 1;
    }
}

@media(width >= 64rem) {
    main {
        flex: 0;
    }

    .wrapper-button {
        background-color: transparent;
        text-align: center;
        margin-left: 39rem;
    }
}
