.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background-logo);
    width: fit-content;
    padding: 0.75rem 1.25rem;
    border-bottom-right-radius: 0.75rem;
    cursor: pointer;
}

.logo span {
    font: var(--font-logo);
    color: var(--content-brand);
}

main {
    padding: 0.75rem 1.25rem;
    flex: 1;
}

.main-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.main-information h1 {
    font: var(--font-title);
    color: var(--content-title);
}

.main-information p {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
}

.schedule-search {
    width: fit-content;
    border: 1px solid var(--border-primary);
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    position: relative;

    &:hover {
        border-color: var(--border-secondary);
    }

    &:focus, &:focus-within {
        border-color: var(--content-brand);
    }
}

.schedule-search img {
    width: 1.25rem;
    height: 1.25rem;
}

.filter-date {
    font: 400 1rem/1.5rem 'Inter', sans-serif;
    color: var(--content-secondary);
    background-color: transparent;

    &::-webkit-calendar-picker-indicator {
        background-color: blue;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        left: 0;
        cursor: pointer;
    }
}

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.morning-hour, .afternoon-hour, .evening-hour {
    background-color: var(--background-tertiary);
    padding: 0.75rem 1.25rem;
    border-radius: 0.63rem 0.63rem 0 0;
    border-bottom: 1px solid #2e2c30;
}

.morning-header, .afternoon-header, .evening-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #2e2c30;
}

.morning-header span, .afternoon-header span, .evening-header span {
    flex: 1;
    font: var(--label-large);
    color: var(--content-primary);
}

.morning-header small, .afternoon-header small, .evening-header small {
    font: var(--label-large);
    color: var(--content-secondary);
}

.clients {
    background-color: var(--background-tertiary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.client {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.client-description {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    font: var(--paragraph-medium);
    color: var(--content-secondary);
    
}

.hour, .pet-name {
    font: var(--label-medium);
    color: var(--content-primary);
}

.client-name, .activity {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
}

.delete-client {
    text-align: end;
    font: var(--paragraph-small);
    background-color: transparent;
    color: var(--content-tertiary);
    cursor: pointer;

    &:hover {
        color: var(--content-primary);
    }
}

.wrapper-button {
    background-color: var(--background-tertiary);
    text-align: center;
    padding: 1.13rem 1.25rem;
}

.new-schedule {
    font: var(--label-large);
    color: var(--color-text-button);
    background-color: var(--background-brand);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 40px 0 rgba(146, 130, 250, 0.30);

    &:hover {
        background-color: var(--background-highlights);
    }
}
